<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    crossorigin="anonymous">

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"
    crossorigin="anonymous">

<link rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
     crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
    crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  crossorigin="anonymous"></script>
{% load crispy_forms_tags %}
<h1>Home Page</h1>
<ul>
    <li>
        <a href="{% url 'bookings:all' %}">Booking</a>
    </li>
    <li>
        <a href="{% url 'newbooking:all' %}">New Booking</a>
    </li>
    <li>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next={% url 'home:all' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}?next={% url 'home:all' %}">Login</a> / <a href="{% url 'user:all' %}?next={% url 'home:all' %}">Register</a>
        {% endif %}
    </li>
</ul>